---
import {t} from 'i18next'
import { getImage } from 'astro:assets'
import kantu from '../../assets/kantu.png'
import keypirinhaQrCodeVideo from '../../assets/keypirinha-qrcode.mp4?inline'
import keypirinhaQrCodeImage from '../../assets/keypirinha-qrcode.jpg'
const optimizedKeypirinhaQrCode = await getImage({src: keypirinhaQrCodeImage, width: 1024})
import ExcelToSaft from '../../assets/excel-to-saftcv.png'

import Project from './Project.astro'

import {ArrowDownIcon} from 'astro-feather'
---
<section id="projects"
class="flex flex-col align-middle gap-16 max-w-3xl mx-auto relative -mt-12 mb-24"
>
	<div class="flex flex-col gap-2">
		<h2 class="text-xl font-semibold text-center pt-4 flex items-baseline justify-center gap-2">
			{t('projects.title')} <ArrowDownIcon customClasses='size-4' />
		</h2>	
		<h3 class="text-lg text-center text-gray-600">
			{t('projects.subtitle')}
		</h3>
	</div>
	<div class="flex flex-col gap-8">

		<Project
		name='Gerador SAFT (CV) Inventario'
		imageSrc={ExcelToSaft}
		description='Gera SAF-T CV Inventario a partir de um ficheiro Excel'
		features={[
			'Gerar ficheiro SAF-T (CV) de Inventario',
			'Integrado com Excel',
		]}
		todos={[
			'Validacao de ficheiro gerado'
		]}
		links={{
			website: 'https://saft.carvalho.cv'
		}}
		/>

		<Project
		id={'Keypirinha-qrcode'}
		name='Keypirinha QR Code'
		videoSrc={keypirinhaQrCodeVideo}
		poster={optimizedKeypirinhaQrCode.src}
		description='A <a href="https://keypirinha.com/" target="_blank">Keypirinha</a> plugin to<br/>convert text to QR Code'
		features={[
			'Copy QR code image to clipboard',
			'Open as image in default viewer',
		]}
		links={{
			github: 'https://github.com/thisisleobro/Keypirinha-qrcode'
		}}
		position={'right'}
		/>

		<Project
		name='Kantu'
		imageSrc={kantu}
		description='An app to get product prices<br/>from various ERPs'
		features={[
			'Ligacao com ERP Primavera',
		]}
		todos={[
			'Release'
		]}
		/>

	</div>
</section>
