---
import {t} from 'i18next'
// import { getImage } from 'astro:assets'
import kantu from '../../assets/kantu.png'
// import keypirinhaQrCodeVideo from '../../assets/keypirinha-qrcode.mp4?inline'
// import keypirinhaQrCodeImage from '../../assets/keypirinha-qrcode.jpg'
// const optimizedKeypirinhaQrCode = await getImage({src: keypirinhaQrCodeImage, width: 1024})
import ExcelToSaft from '../../assets/excel-to-saftcv.png'

import Project from './Project.astro'
import Section from '../ui/Section.astro'
---

<Section id='projects' title={t('projects.title')} subtitle={t('projects.subtitle')}>
	<div class="flex flex-col gap-16">
		<Project
		imageSrc={ExcelToSaft}
		name={t('projects.saftcv.name')}
		description={t('projects.saftcv.description')}
		features={t('projects.saftcv.features', { returnObjects: true })}
		todos={t('projects.saftcv.todos', {returnObjects: true})}
		links={{
			website: 'https://saft.carvalho.cv',
		}}
		/>

<!-- 		<Project
		id={'Keypirinha-qrcode'}
		name={t('projects.keypirinha-qrcode.name')}
		description={t('projects.keypirinha-qrcode.description')}
		videoSrc={keypirinhaQrCodeVideo}
		poster={optimizedKeypirinhaQrCode.src}
		features={t('projects.keypirinha-qrcode.features', { returnObjects: true })}
		todos={t('projects.keypirinha-qrcode.todos', {returnObjects: true})}
		links={{
			github: 'https://github.com/thisisleobro/Keypirinha-qrcode',
		}}
		positionRight
		/> -->

		<Project
		imageSrc={kantu}
		name={t('projects.kantu.name')}
		description={t('projects.kantu.description')}
		features={t('projects.kantu.features', { returnObjects: true })}
		todos={t('projects.kantu.todos', {returnObjects: true})}
		/>
	</div>
</Section>
