---
import { Picture } from 'astro:assets'
import kantu from '../../assets/kantu.png'
import { GithubIcon, CheckIcon, BookmarkIcon, GlobeIcon } from 'astro-feather';
import VideoPlayer from './VideoPlayer.astro';
const {id, name, description, imageSrc, videoSrc, poster, features, todos, links, position: passedPosition} = Astro.props

const githubUrl = links?.github
const websiteUrl = links?.website

const position = passedPosition === 'right'?
	{
		justify: 'sm:justify-start',
		text: 'sm:text-left',
		flex: 'sm:flex-row-reverse',
		margin: 'sm:ml-0 m-auto',
		reverse: 'sm:justify-end sm:flex-row-reverse',
	}:
	{
		justify: 'sm:justify-end',
		text: 'sm:text-right',
		flex: 'sm:flex-row',
		margin: 'sm:mr-0 m-auto',
		reverse: 'sm:justify-end',
	}
---

<div class={`flex flex-col ${position.flex} gap-4 p-4`}>
	{imageSrc &&
		<div class="flex-1">
			<Picture src={imageSrc} alt={name} class='rounded' width={kantu.width / 3} densities={[1, 2, 3]}/>
		</div>
	}

	{videoSrc &&
		<VideoPlayer id={id} videoSrc={videoSrc} poster={poster}/>
	}

	<div class={`flex flex-col flex-1 justify-between gap-8`}>
		<div class="flex flex-col gap-4">
			<div class="flex flex-col gap-2">
				<h3 class={` ${position.text} text-center flex gap-1 ${position.justify} justify-center items-baseline`}>
					{name}
				</h3>
				
				<p class={`${position.text} text-center w-72 ${position.margin} font-semibold text-xl`}>
					<Fragment set:html={description}/>
				</p>
			</div>

			<div class="flex flex-col gap-2">
				{features?.map(feature => <p class={`justify-center text-sm flex gap-1 ${position.reverse}`}>
					{feature} <CheckIcon customClasses='size-4 mt-1' />
				</p>)}

				{todos?.map(todo => <p class={`${position.justify} justify-center text-sm flex gap-1`}>
					{todo} <BookmarkIcon customClasses='size-4 mt-auto' />
				</p>)}
			</div>

		</div>

		<div class={`flex gap-4 ${position.justify} justify-center items-center`}>
			{githubUrl &&
				<a class=""
				aria-label='github'
				href={githubUrl}
				target="_blank">
					<GithubIcon customClasses='size-6'/>
				</a>
			}

			{websiteUrl &&
				<a class=""
				aria-label='website'
				href={websiteUrl}
				target="_blank">
					<GlobeIcon customClasses='size-6'/>
				</a>
			}
		</div>
	</div>
</div>