---
import {t} from 'i18next'
import { defaultLocale } from '../../../constants'
import {getPosts} from '@libs/posts'
import Heading from '@components/Heading.astro'
import ClickableCard from '@components/Cards/ClickableCard.astro'
import {getUrlForLocale} from '@utils/getUrlForLocale'

const currentLocale = Astro.currentLocale || defaultLocale
const postsInCurrentLanguage = await getPosts(Astro.currentLocale || defaultLocale)
const blogUrl = getUrlForLocale(new URL('/blog', Astro.url), defaultLocale, currentLocale).url.toString()
---
<section id='blog'>
	<Heading  title="Blog" />
	{postsInCurrentLanguage.length != 0 ?
	<ul class="flex flex-col">
		{postsInCurrentLanguage
		.map(({data, slug}) =>
			<li>
{/*				<Link class='absolute inset-0 bg-transparent' href={new URL(slug, currentUrl).toString()} aria-label={data.title}/>
				<h3 class="text-2xl">{data.title}</h3>
				<div class="flex justify-between">
					<span class="text-slate-600">
						{new Intl.DateTimeFormat(Astro.currentLocale, {dateStyle: "full"}).format(data.publishedDate)}
					</span>
					<ArrowRightIcon />
				</div>*/}
				<ClickableCard
				aria-label={new Intl.DateTimeFormat(Astro.currentLocale, {dateStyle: "full"}).format(data.publishedDate)}
				description={new Intl.DateTimeFormat(Astro.currentLocale, {dateStyle: "full"}).format(data.publishedDate)}
				url={new URL(slug, blogUrl).toString()}
				>
					<h3>{data.title}</h3>
				</ClickableCard>
			</li>
		)}
	</ul>:
	<span>{t("blog.empty")}</span>}
</section>