---
import { getEntry } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import '../../styles/post.css'
import Link from "../Link.astro"
import sanitizeHtml from 'sanitize-html'
import Scroll from "../Scroll.astro"
import Heading from "@components/Heading.astro"


const post = await getEntry('blog', Astro.params.post as string)

const title = post?.data.title || 'No title'

const postText = sanitizeHtml(post?.rendered?.html || '', {
  allowedTags: [],
  allowedAttributes: {}
});

const dateFormat = new Intl.DateTimeFormat(Astro.currentLocale, {dateStyle: "full"})

const publicationDateFormated = dateFormat.format(post?.data.publishedDate)

const description = [
	title.length > 150? title.slice(0, 147).concat('...'): title,
	postText.length > 150? postText.slice(0, 147).concat('...'): postText,
].join(' ')
---

<Layout
isLocalized={false}
title={title}
pubDatetime={post?.data.publishedDate}
modDatetime={post?.data.updatedDate}
description={description}
>
	<article>
		<Heading title={title} subtitle={publicationDateFormated} level={1} />
		{<ul class="p-4 bg-slate-50 rounded mb-4">
			{post?.render().then((result) => result.headings.map((heading) => <li>
				<Link href={`#${heading.slug}`} aria-label={heading.text}>
					{heading.text}
				</Link>
			</li>))}
		</ul>}
		<Fragment set:html={post?.rendered?.html}/>
	</article>
	<div class="sticky flex justify-end bottom-8 pointer-events-none">
		<Scroll
		id='scroll-to-top'
		direction="up"
		anchor='#'
		containerClass='transition-all delay-500 pointer-events-auto'
		iconClass='bg-blue-100 rounded-[50%] p-2'
		/>
	</div>
</Layout>