---
import {PackageIcon, StarIcon, DownloadIcon} from 'astro-feather';
import {t} from 'i18next'
import Link from '../Link.astro';
import TitleGroup from '../ui/TitleGroup.astro';

const githubAuth = import.meta.env.GITHUB_AUTH

const reposResponse = await fetch('https://api.github.com/users/thisisleobro/repos', {headers: {Authorization: githubAuth}});
const githubRepos = await reposResponse.json();
// const githubRepos = []


const repos = await Promise.all(githubRepos.map(async (repo: any) => {
	const releasesResponse = await fetch(`https://api.github.com/repos/thisisleobro/${repo.name}/releases`, {headers: {Authorization: githubAuth}})

	const releases = await releasesResponse.json()

	const downloads = releases.reduce((downloadsNumber: any, release: any) => {
		return downloadsNumber + release.assets.reduce((assetsDownloadsNumber: any, assets: any) => {
			return assetsDownloadsNumber + assets.download_count
		}, 0)
	}, 0)

	return {...repo, downloads}
}))
---
<section id="repos" class="my-8">
	<TitleGroup title={t('repos.title')} subtitle={t('repos.subtitle')} />
	<ul id="github-repos" class="flex flex-col gap-4">
		{repos
		.filter((repo) => !repo.fork)
		.map((repo) => <Link href={repo.html_url}>
			<li class="flex flex-col gap-2 bg-slate-50 rounded p-4">
				<div class="flex justify-between">
					<span class="flex items-center gap-2">
						<PackageIcon customClasses='size-4' /> {repo.name}
					</span>
					<div class="flex gap-4">
						{repo.downloads > 0 &&
						<div class="flex justify-between items-center gap-1">
							<DownloadIcon customClasses='size-4'/> {repo.downloads}
						</div>}

						{repo.stargazers_count > 0 &&
						<div class="flex justify-between items-center gap-1">
							<StarIcon customClasses='size-4'/> {repo.stargazers_count}
						</div>}
					</div> 
				</div>
				<p>{repo.description ?? '...'}</p>
			</li>
		</Link>)}
	</ul>
</section>
