---
import i18next from 'i18next'
import Backend from 'i18next-fs-backend'

// @ts-ignore
import path from 'node:path'

await i18next.use(Backend).init({
	fallbackLng: 'en',
	debug: true,
	lng: Astro.currentLocale,
	// preload: ['en', 'pt'],
	ns: ['translation'],
	defaultNS: 'translation',
	backend: {
		loadPath: path.join('.', 'locales/{{lng}}/{{ns}}.json')
	},
})

// return Astro.redirect('/en')
import profile from '../assets/profile.svg'
import Analytics from '../components/Analytics.astro'
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex" />
	<title>/</title>
	<link rel="icon" type="image/svg+xml" href={profile.src} />
	<Analytics/>
</head>
<body>
	<script is:inline>
		const suportedLanguages = ['pt', 'en']
		const storedLocale = localStorage.getItem('locale')

		window.addEventListener("load", function(){

			setTimeout(() => {
				if (suportedLanguages.includes(storedLocale)) {
					window.location.pathname = storedLocale
				} else {
					const matchingLanguage = navigator.languages
						.map(language => language.slice(0, 2))
						.find((language) => suportedLanguages.includes(language))

					window.location.pathname = matchingLanguage? matchingLanguage: 'en'
				}
			}, 500)
		});
	</script>
	<div class="flex items-center justify-center flex-col gap-4 min-h-dvh">
		<h1>You may have javascript disabled. If so pick your language manually</h1>
		<ul class="flex gap-4">
			{['pt', 'en'].map((language) =><li>
				<a href={language} class="text-blue-500 underline">{language.toUpperCase()}</a>
			</li>)}
		</ul>
	</div>
</body>
</html>
