---
import profile from '../assets/profile.svg?raw'
import {t} from 'i18next'
import Scroll from './ui/Scroll.astro';
import { GithubIcon, MailIcon } from "astro-feather";
import Link from './Link.astro';
import { email } from '../constants'

---
<section id='hero'>
	<div class="flex flex-col sm:flex-row min-h-[90dvh] m-auto align-middle">
		<div class="flex sm:justify-end justify-center flex-1 w-full sm:items-center items-end">
			<Fragment set:html={profile} />
		</div>
		<div id="hero-right" class="flex flex-col m-0 gap-4 sm:justify-center flex-1">
			<h1 class="!text-4xl !font-bold leading-9 text-center sm:text-left">
				<Fragment set:html={t('hero.design')} />
				<br/>
				<Fragment set:html={t('hero.develop')} />
				<br/>
				<Fragment set:html={t('hero.in_my_free_time')} />

				<!-- Use class active bellow so that tailwind compiler can pick on it -->
				<span class="active" />
			</h1>

			<div class="flex flex-col gap-1">
				<p class="flex gap-4 links my-2 justify-center sm:justify-normal">
					<Link href={`mailto:${email}`} aria-label={t('my_email')} IconComponent={MailIcon}  class="bg-yellow-600 py-1 px-2 rounded text-white"/>
					<Link href="https://github.com/thisisleobro" aria-label={t('my_github')} relMe IconComponent={GithubIcon} class="bg-slate-900 py-1 px-2 rounded text-white" />
				</p>
			</div>
		</div>
	</div>
	<Scroll anchor='projects' id='scroll-element'/>
</section>
<script>
	document.addEventListener('astro:page-load', function() {
		const scroll = document.getElementById('scroll-element')

		window.addEventListener('scroll', (_event) => {
			if (scrollY > 50) {
				scroll?.classList.add('hidden')
			}
		}, { passive: true })
	}, false);	
</script>