---
import profile from '../assets/profile.svg?raw'
import {t} from 'i18next'
import Scroll from './ui/Scroll.astro';
import Section from './ui/Section.astro';
import { GithubIcon, MailIcon } from "astro-feather";
import Link from './Link.astro';

---
<Section id='hero'>
	<div class="flex flex-col sm:flex-row my-32 m-auto align-middle gap-8">
		<div class="flex sm:justify-end justify-center flex-1 w-80">
			<Fragment set:html={profile} />
		</div>
		<div id="hero-right" class="flex flex-col m-0 gap-4 justify-center flex-1">
			<h1 class="!text-4xl !font-bold leading-9 text-center sm:text-left">
				<Fragment set:html={t('hero.design')} />
				<br/>
				<Fragment set:html={t('hero.develop')} />
				<br/>
				<Fragment set:html={t('hero.in_my_free_time')} />

				<!-- Use class active bellow so that tailwind compiler can pick on it -->
				<span class="active" />
			</h1>

			<div class="flex flex-col gap-1">
				<!-- <p class="flex gap-1 align-middle m-auto sm:ml-0" id="available">
					<Fragment set:html={circle} />
					Available for work through company
				</p> -->

				<!-- <p class="flex gap-1 align-middle m-auto sm:ml-0" id="location">
					<Fragment set:html={mapPin} />
					{t('location')}
				</p> -->

				<p class="flex gap-4 links my-2 justify-center sm:justify-normal">
					<Link aria-label={t('my_email')} IconComponent={MailIcon} href={''} class="author-email bg-yellow-600 py-1 px-2 rounded text-white"/>
					<Link href="https://github.com/thisisleobro" aria-label={t('my_github')} relMe IconComponent={GithubIcon} class="bg-slate-900 py-1 px-2 rounded text-white" />
				</p>

			</div>
		</div>
	</div>
	<Scroll anchor='projects' id='scroll-element'/>
</Section>
<script>
	document.addEventListener('astro:page-load', function() {
		const scroll = document.getElementById('scroll-element')

		window.addEventListener('scroll', (_event) => {
			if (scrollY > 50) {
				scroll?.classList.add('hidden')
			}
		}, { passive: true })
	}, false);	
</script>