---
const response = await fetch('https://api.github.com/users/thisisleobro/repos');
const githubRepos = await response.json();

import packageIcon from '../assets/icons/package.svg?raw'
// import github from '../assets/icons/github.svg?raw'
import star from '../assets/icons/star.svg?raw'

import {t} from 'i18next'
---
<section id="repos" class="flex flex-col align-middle gap-8 max-w-3xl mx-auto m-24">
	<div class="flex flex-col gap-2">
		<h2 class="text-xl font-semibold text-center pt-4">
			{t('repos.title')}
		</h2>
		<h3 class="text-lg text-center text-gray-600">
			{t('repos.subtitle')}
		</h3>
	</div>
	<ul id="github-repos" class="flex flex-col gap-8">
		{githubRepos.map((repo) => <li class="flex flex-col gap-2">
			<div class="flex justify-between">
				<a href={repo.html_url} class="flex align-middle gap-2">
					<Fragment set:html={packageIcon}/> {repo.name}
				</a> 
				<div class="flex justify-between gap-2 star">
					<Fragment set:html={star}/> {repo.stargazers_count}
				</div>
			</div>
			<p>{repo.description ?? '...'}</p>
		</li>)}
	</ul>
</section>
