---
// import profile from '../assets/profile.svg?raw'
import {getRelativeLocaleUrl} from 'astro:i18n';
import {t} from 'i18next'
import { siteName, email } from '../constants';
import Link from '../components/Link.astro';
import { languages } from '../lib/i18n';
import { GithubIcon, MailIcon } from 'astro-feather';
const commit = import.meta.env.SOURCE_COMMIT;
// const branch = import.meta.env.COOLIFY_BRANCH

---
<footer class="min-h-16 flex flex-col items-center justify-center gap-2 text-base">
	<div class="flex py-4 gap-8 w-full">
		<div class="flex flex-col">
			<span class="text-lg mb-4">{siteName}</span>
			<!-- <div class="flex sm:justify-end justify-center flex-1 w-8 h-8">
				<Fragment set:html={profile} />
			</div> -->
			<p class="flex gap-4 links my-2 justify-left">
				<Link href={`mailto:${email}`} aria-label={t('my_email')} IconComponent={MailIcon} class="bg-yellow-600 py-1 px-2 rounded text-white"/>
				<Link href="https://github.com/thisisleobro" aria-label={t('my_github')} relMe IconComponent={GithubIcon} class="bg-slate-900 py-1 px-2 rounded text-white" />
			</p>
		</div>

		<!-- Links -->
		<div class="">
			<h2 class="mb-4 text-lg">Links</h2>
			<ul class="list-none no-underline flex flex-col gap-2 text-md">
				{languages.map((language: any) =>
					<li><Link href={getRelativeLocaleUrl(language.key, 'blog')}>Blog ({language.description})</Link></li>
				)}
				<li><Link href='/sitemap-index.xml'>Sitemap</Link></li>
			</ul>
		</div>
	</div>
	<div class="border-b w-full" />
	<div class="flex flex-col sm:flex-row w-full sm:text-inherit text-center gap-2 justify-between text-slate-600 text-sm py-4">
		<p>
			Copyright © {new Date().getFullYear()} - {siteName}
		</p>

		<p>
			{new Date().toISOString().split('.')[0]}{commit && " - " + commit?.slice(0, 8)}
		</p>
	</div>
</footer>
