---
// import profile from '../assets/profile.svg?raw'
import {getRelativeLocaleUrl} from 'astro:i18n';
import {t} from 'i18next'
import { author } from '../constants';
import Link from '../components/Link.astro';
import { languages } from '../lib/i18n';
import { GithubIcon, MailIcon } from 'astro-feather';
const commit = import.meta.env.SOURCE_COMMIT;
// const branch = import.meta.env.COOLIFY_BRANCH

---
<footer class="min-h-16 flex flex-col items-center justify-center gap-2 text-base">
	<div class="flex py-4 gap-32 w-full">
		<div class="flex flex-col">
			<h2 class="text-lg mb-4">{author}</h2>
			<!-- <div class="flex sm:justify-end justify-center flex-1 w-8 h-8">
				<Fragment set:html={profile} />
			</div> -->
			<p class="flex gap-4 links my-2 justify-left">
				<Link aria-label={t('my_email')} IconComponent={MailIcon} href={''} class="author-email bg-yellow-600 py-1 px-2 rounded text-white"/>
				<Link href="https://github.com/thisisleobro" aria-label={t('my_github')} relMe IconComponent={GithubIcon} class="bg-slate-900 py-1 px-2 rounded text-white" />
			</p>
		</div>

		<!-- Links -->
		<div class="pt-1">
			<h2 class="mb-4 text-lg">Links</h2>
			<u class="list-none no-underline flex flex-col gap-2 text-md">
				{languages.map((language: any) =>
					<li><Link href={getRelativeLocaleUrl(language.key, 'blog')}>Blog ({language.description})</Link></li>
				)}
				<li><Link href='/sitemap-index.xml'>Sitemap</Link></li>
			</u>
		</div>
	</div>
	<div class="border-b w-full" />
	<div class="flex w-full row justify-between text-slate-600 text-sm py-4">
		<p>
			Copyright © {new Date().getFullYear()} - Leo Carvalho
		</p>

		<p>
			{new Date().toISOString().split('.')[0]}{commit && " - " + commit?.slice(0, 8)}
		</p>
	</div>
</footer>
