---
import '../styles/global.css'
// import profile from '../assets/profile.svg'
import Posthog from '../components/Analytics/Posthog.astro'
import Umami from '../components/Analytics/Umami.astro'

import {author, title} from '../constants'
import {t} from 'i18next'
---
<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={t('description')} />
		<meta name="author" content={author} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<Posthog />
		<Umami />
	</head>
	<body>
		<slot />
	</body>
</html>


