---
import '../styles/global.css'
import Posthog from '../components/Analytics/Posthog.astro'
import Umami from '../components/Analytics/Umami.astro'

import {author, defaultTitle} from '../constants'
import {t} from 'i18next'
import { initI18n } from '../lib/i18n'
import Footer from './Footer.astro'
import Navigation from './Nav.astro'
import { ClientRouter } from "astro:transitions"

await initI18n(Astro.currentLocale)

interface Props {
	showLanguageMenu?: boolean,
	title?: string
}

const {title, showLanguageMenu = true} = Astro.props
---
<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title? `${title} | ${defaultTitle}`: defaultTitle}</title>
		<meta name="description" content={t('description')} />
		<meta name="author" content={author} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ClientRouter />
		<Posthog />
		<Umami />
	</head>
	<body class="text-slate-800 stroke-slate-800">
		<Navigation showLanguageMenu={showLanguageMenu} />
		<slot />
		<Footer />
	</body>
</html>


