---
import '../styles/global.css'
import profile from '../assets/profile.svg'

import {title} from '../constants'
import {t} from 'i18next'
import Analytics from '../components/Analytics.astro'
---
<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href={profile.src} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={t('description')}>
		<meta name="author" content="Leo Carvalho">
		<Analytics />
	</head>
	<body>
		<slot />
	</body>
</html>


