---
import Language from '../components/ui/Language.astro'
import {t} from 'i18next'
import {MenuIcon} from 'astro-feather'
import { author, defaultLocale } from '../constants'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { languages } from '../lib/i18n';

interface Props {
	showLanguageMenu?: boolean
}

type Link = {href?: string, label?: string, Component?: Function}

const links: Link[] = [
	{
		href: getRelativeLocaleUrl(Astro.currentLocale || '', '/').concat('#'),
		label: t('hero.title'),
	},
	{
		href: getRelativeLocaleUrl(Astro.currentLocale || '', '/').concat('#projects'),
		label: t('projects.title'),
	},
	{
		href: getRelativeLocaleUrl(Astro.currentLocale || '', 'blog'),
		label: 'Blog',
	},
]

const {showLanguageMenu} = Astro.props
---
<nav class="flex justify-between fixed p-4 w-svw left-0 z-50 bg-white">
	<a href="/">{author}</a>

	<div class="group">
		<button class="sm:hidden block">
			<MenuIcon />
		</button>
		<div id="nav-links" class="h-auto bg-transparent gap-4 text-center hidden sm:flex items-center justify-center  transition-all delay-1000
		sm:group-focus-within:auto
		group-focus-within:flex
		sm:group-focus-within:static
		group-focus-within:absolute
		sm:group-focus-within:inset-auto
		group-focus-within:inset-0
		sm:group-focus-within:h-auto
		group-focus-within:h-dvh
		sm:group-focus-within:flex-row
		group-focus-within:flex-col
		sm:group-focus-within:bg-auto
		group-focus-within:bg-white
		"
		>
			{links.map((link) => <a href={link.href}>{link.label}</a>)}

			{showLanguageMenu &&
			<Language
			label={languages.find(({key}: {key: string}) => key === Astro.currentLocale).description}
			currentLocale={Astro.currentLocale}
			defaultLocale={defaultLocale}
			languages={languages}
			/>}
		</div>
	</div>
</nav>