---
import Language from '../components/ui/Language.astro'
import {t} from 'i18next'
import {MenuIcon} from 'astro-feather'
import { siteName, defaultLocale } from '../constants'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { languages } from '../lib/i18n';
import Link from '../components/Link.astro'

interface Props {
	showLanguageMenu?: boolean
}

const links: {href: string, label?: string, Component?: Function}[] = [
	{
		href: getRelativeLocaleUrl(Astro.currentLocale || '', '/').concat('#'),
		label: t('hero.title'),
	},
	{
		href: getRelativeLocaleUrl(Astro.currentLocale || '', '/').concat('projects'),
		label: t('projects.title'),
	},
	{
		href: getRelativeLocaleUrl(Astro.currentLocale || '', 'blog'),
		label: 'Blog',
	},
]

const {showLanguageMenu} = Astro.props
---
<nav class="flex justify-between sticky p-4 left-0 top-0 righ-0 z-50 bg-white">
	<Link href={getRelativeLocaleUrl(Astro.currentLocale || '', '/')}>{siteName}</Link>

	<div class="group">
		<button class="sm:hidden block" aria-label="Hamburger menu">
			<MenuIcon />
		</button>
		<div id="nav-links" class="h-auto bg-transparent gap-4 text-center hidden sm:flex items-center justify-center transition-all delay-1000
		sm:group-focus-within:auto
		group-focus-within:flex
		sm:group-focus-within:static
		group-focus-within:absolute
		sm:group-focus-within:inset-auto
		group-focus-within:inset-0
		sm:group-focus-within:h-auto
		group-focus-within:h-dvh
		sm:group-focus-within:flex-row
		group-focus-within:flex-col
		sm:group-focus-within:bg-auto
		group-focus-within:backdrop-blur-xl
		">
			{links.map((link) => <Link href={link.href} class='text-xl sm:text-base'>{link.label}</Link>)}

			{showLanguageMenu &&
			<Language
			class="text-xl sm:text-base"
			label={languages.find(language => language.key === Astro.currentLocale)?.description || ''}
			currentLocale={Astro.currentLocale}
			defaultLocale={defaultLocale}
			languages={languages}
			/>}
		</div>
	</div>
</nav>