---
import { Picture } from 'astro:assets'
import kantu from '../../../assets/kantu.png'
import { GithubIcon, CheckIcon, BookmarkIcon, ArrowRightIcon } from 'astro-feather';
import VideoPlayer from '../../ui/VideoPlayer.astro';
import Link from '../../Link.astro';
const {id, name, description, imageSrc, videoSrc, poster, features, todos, links, positionRight} = Astro.props

const githubUrl = links?.github
const websiteUrl = links?.website
const preferedUrl = websiteUrl || githubUrl

const position = positionRight?
	{
		justify: 'sm:justify-start',
		text: 'sm:text-left',
		flex: 'sm:flex-row-reverse',
		margin: 'sm:ml-0 m-0',
		reverse: 'sm:justify-end sm:flex-row-reverse',
	}:
	{
		justify: 'sm:justify-end',
		text: 'sm:text-right',
		flex: 'sm:flex-row',
		reverse: 'sm:justify-end',
	}
---

<div class={`flex flex-col ${position.flex} gap-6 bg-slate-50 rounded p-4 relative`}>
	{preferedUrl && <Link class="absolute inset-0 bg-transparent" href={preferedUrl} aria-label='Preferred Url'/>}
	{imageSrc &&
		<div class="flex justify-center flex-1">
		<div class="my-auto">
			<Picture src={imageSrc} alt={name} class='rounded m-auto' width={kantu.width / 3} densities={[1, 2, 3]}/>
		</div>
		</div>
	}

	{videoSrc &&
		<VideoPlayer id={id} videoSrc={videoSrc} poster={poster}/>
	}

	<div class={`flex flex-col flex-1 justify-between gap-8`}>
		<div class="flex flex-col gap-2">
			<h3 class={`${position.text} text-left flex gap-1 text-lg ${position.justify} items-baseline`}>
				{name}
			</h3>
			
			<p class={`${position.text} text-left  ${position.margin} font-semibold text-xl`}>
				<Fragment set:html={description}/>
			</p>
		</div>

		<div class="flex flex-col gap-2">
			{features?.map((feature: string) => <p class={`text-sm flex gap-1 ${position.reverse}`}>
				{feature} <CheckIcon customClasses='size-4 mt-1' />
			</p>)}

			{todos?.map((todo: string) => <p class={`text-sm flex gap-1 ${position.reverse}`}>
				{todo} <BookmarkIcon customClasses='size-4 mt-1' />
			</p>)}
		</div>

		<div class={`flex gap-4 ${position.justify} justify-end items-center`}>
			<div class="flex z-0">
				{githubUrl && <Link class="bg-slate-900 py-1 px-3 rounded text-white" aria-label='github' href={githubUrl} IconComponent={GithubIcon}/>}

				{websiteUrl && <Link class="bg-blue-600 py-1 px-3 rounded text-white" aria-label='website' href={websiteUrl} IconComponent={ArrowRightIcon} />}
			</div>
		</div>

	</div>
</div>