---
import { PlayIcon } from 'astro-feather'

interface Props {
	id: string,
	videoSrc: string,
	poster: string
}

const {id, videoSrc, poster} = Astro.props
---
<div class="flex-1 relative cursor-pointer" id={`${id}-media`}>
	<video
	src={videoSrc}
	loop
	muted
	poster={poster}
	id={`${id}-video`}
	class="rounded"
	/>
	<div class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center" id={`${id}-play`}>
		<PlayIcon customClasses='stroke-white flex' size={32}/>
	</div>
</div>
<script is:inline define:vars={{ id }}>
	document.addEventListener('astro:page-load', () => {
		const kantuMediaElement = document.getElementById(`${id}-media`)
		const kantuVideo = document.getElementById(`${id}-video`)
		const kantuPlayOverlay = document.getElementById(`${id}-play`)

		const playVideo = (event) => {
			console.log('play video')
			event.stopPropagation()
			kantuVideo.play()
			kantuMediaElement.removeChild(kantuPlayOverlay)

			kantuMediaElement.onclick = pauseVideo
		}

		kantuMediaElement.onclick = playVideo

		kantuPlayOverlay.onclick = playVideo

		const pauseVideo = (event) => {
			event.stopPropagation()
			kantuVideo.pause()
			kantuMediaElement.appendChild(kantuPlayOverlay)
			
			kantuMediaElement.onclick = playVideo
		}
	})
</script>